---
---

@import "{{ site.theme }}";

.main-content code { 
  font-size:1.1em; 
}

.codeblock {
  font-size:1.1em; 
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}

.imgLeft {
  float:left;
  margin: 0 10px 10px 0;
  width:50%; 
  vertical-align:top; 
  border:1px solid #021a40;
}

#noun {
    color:#00cc00;
}
#adj {
    color: #c61aff;
}
